* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 27, 52);
    background-image: url(../imagens/certooooo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 1500px;
    width: 100%;
}

header {
    width: 100%;
    position: fixed;
    background-color: rgb(37, 37, 107);
    padding-bottom: 10px;

    nav {
        float: right;
        text-decoration: none;
        margin-top: 25px;
        margin-right: 20px;
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
            padding: 15px;
            padding-inline: 40px;
            font-size: 20px;

            a {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
            }

            a:hover {
                transition: 0.15s;
                color: grey;
            }
        }
    }
}

.imgLogo {
    width: 10%;
    margin: 15px;
    padding-left: 40px;
    padding-top: 10px;
}

main {
    padding-top: 150px;
    padding-bottom: 40px;
    margin-inline: auto;
    }
    section {
        color: rgb(255, 255, 255);
        text-align: center;
        background-color: rgb(27, 27, 52);
        padding: 30px;
        margin-inline: 150px;
        .grid {
            display: grid;
            grid-template-columns: repeat(2,50%);
            width: 100%;
            padding: none;
            box-sizing: border-box;
            margin-inline: auto;
            .col {
                padding: 20px;
            }
            img {
                width: 100%;
            }
        }
        h1 {
            font-size: 40px;
        }
    
        p {
            padding: 50px;
            font-size: larger;
        }
        .ytb {
            height: 500px;
        }
    }


footer {
    margin: 0;
    background-color: rgb(16, 16, 35);
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    p {
        color: white;
        text-align: center;
        font-weight: bolder;
    }
}
.jogo {
    margin-bottom: 0;
    iframe {
        margin-inline: 200px;
        padding-top: 110px;
        padding-bottom: 0;
    }
}
.grass{
    width: 100%;
position: fixed;
z-index: -1;
img {
    width: 100%;
}
}
.space {
    width: 13%;
    float: right;
    img {
        width: 100%;
    }
}